@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");
.movies {
  display: flex;

  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
}

.movie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.box{
  display: flex;
  margin-top: -45px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow:hidden; 
  scroll-behavior: smooth; 
}


.movie_rank {
  position: relative;
  color: white;
  font-size: 30px;
  top: 40px;
  left: 15px;
  font-family: "Sansita Swashed", cursive;
  text-shadow: 0 4px 6px rgba(19, 19, 0, 0.1), 2px 5px 3px rgba(0, 0, 0, 0.8);
}

.movie_link {
  text-decoration: none;
}

.movie_main_title {
  color: black;
  font-size: 13px;
  text-align: center;
}

.movie_title {
  font-size: 17px;
  line-height: 10px;
}
