:root {
  --topmenu-shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 3px rgba(0, 0, 0, 0.8);
  --shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 1px rgba(0, 0, 0, 0.8);
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --menu-background-color: #fff;
  --menu-hover-background-color: #c1c1c1;
}

.nav {
  position: sticky;
  width: 100%;
  top: 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  box-shadow: var(--topmenu-shadow);
  border: var(--border);
  z-index: 100;
  padding: 20px;
  transition: 0.2s linear;
}

.nav .nav_icon{
  margin-left: 10px;
  display: flex;
  width: 100%;
  text-decoration: none;
}

.nav .nav_icon a{
  text-decoration: none;
}

.nav .nav_icon .fa-film{
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}

.nav .nav_icon span{
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}

.nav .nav_icon:hover {
  border-bottom: none;
} 

.nav .nav_menu{
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.nav .nav_menu .nav_menu_item{
  display: flex;
  width: 100%;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  text-shadow: 2px 2px 2px gray; 
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

.nav .nav_menu .item_icon{
  display: flex;
  flex-direction: column;
  text-shadow: none;
}

.nav .nav_menu_item:hover {
  color: red;
}



.nav .login{
    width: 400px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 500%;
    margin-left: -200px;  
    margin-top: -125px;
    background-color: black;
    border-radius: 5px;  
    box-shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 3px rgba(0, 0, 0, 0.8);
    background-color: white;

}
.loginBox{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.close{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding-right: 20px;
  position: relative;
  top: 15px;
}

input{
    background-color: rgb(238, 232, 238);
    width: 80%;
    height: 30px;
    border-radius: 3px;
    border :none;

}

input:focus{
    outline-color: #7d8491;
    outline-style: none;
}

.sub{
    background-color: #52565f;
    color: white;
    cursor: pointer;
}

.sub:hover{
    background-color: rgb(78, 98, 116);
}

ol{
    margin-right: 25px;
    font-size: 11px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

li{
    margin-right: 10px;
    cursor: pointer;
}

li:hover{
    color: rgb(117, 115, 113);
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(117, 115, 113);
}